{
  "SUPABASE_URL": "https://cywjfnsixcvbodjvvlkg.supabase.co",
  "SUPABASE_SERVICE_ROLE_KEY": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5d2pmbnNpeGN2Ym9kanZ2bGtnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjI2MDM3MywiZXhwIjoyMDgxODM2MzczfQ.EqTC08aScFVZktwOfw_J0jczLZrJPXU89GWLQytUbXA"
}
